:root {
  /* Fonts */
  --main-font: 'Montserrat', sans-serif;
  --secondary-font:'Seymour One', sans-serif; 
  --third-font:'Inter', sans-serif;

  /* Tetx colors */
  --main-txt-cl: #FCFCFC;
  --accent-txt-cl:#131313;
  --bright-txt-cl: #F8D24E;
  --address-txt-color: #D6936D;
  --light-txt-color: #ABABAB;

  /* Bg colors */
  --accent-bg-cl: #84A178;

   /* Btns */
 --btn-bg-color:#F8D24E;
 --btn-txt-dark-color:#000;
 --main-br-rd: 10px;
 --btn-bg-hv-color: #0A8817;
}
