<div class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__wrap">
      <h1 class="hero__title">ice cream made with passion</h1>
      <div class="hero__counts">
        <span class="hero__number">16</span>
        <span class="hero__number-text">cafes</span>
        <span class="hero__number">23</span>
        <span class="hero__number-text">food trucks</span>
      </div>
    </div>

    <div class="hero__btns">
      <div class="hero__btn">
        <a class="hero__button" href="#products">Products</a>
      </div>
      <a href="#about" class="hero__link">How it’s made?</a>
    </div>
    <picture>
      <source srcset="/src/images/hero/desk-plate.png 1x, /src/images/hero/desk-plate-2x.png 2x"
        media="(min-width: 1200px)" />
      <source srcset="/src/images/hero/tablet-plate.png 1x, /src/images/hero/tablet-plate-2x.png 2x"
        media="(min-width: 768px)" />
      <img class="tablet-plate" src="/src/images/hero/tablet-plate.png" alt="tablet-plate">
    </picture>
    <div class="hero__wrapper">
      <span class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et</span>
      <svg class="hero__icon" width="40" height="16">
        <use href="/src/images/icon.svg/symbol-defs.svg#icon-Arrow"></use>
      </svg>
    </div>
    <picture>
      <source srcset="/src/images/hero/desk-hero.png 1x, /src/images/hero/desk-hero-2x.png  2x" media="(min-width: 1200px)" />
      <source srcset="/src/images/hero/tablet-hero.png 1x, /src/images/hero/tablet-hero-2x.png 2x"
        media="(min-width: 768px)" />
      <source srcset="/src/images/hero/mobile-hero.png 1x, /src/images/hero/mobile-hero-2x.png  2x"
        media="(max-width: 767px)" />
      <img class="hero__img" src="/src/images/hero/mobile-hero.png" alt="mobile-hero">
    </picture>
  </div>
</div>