<div class="info-backdrop is-hidden" data-info>
    <div class="info-modal container">
      <button class="info-close-button" type="button" data-info-close>
        <svg class="close-icon" width="11" height="11">
          <use href="./images/icon.svg/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h1 class="info-title">Chololate  icecream</h1>
 <ul class="info-list">
    <li class="info-list-item">
        <div class="info-circle">
            <p class="info-numbers">320</p>
        </div>
        <p class="info-value">kcal</p>
    </li>
    <li class="info-list-item">
        <div class="info-circle">
            <p class="info-numbers">4g</p>
        </div>
        <p class="info-value">Prote...</p>
    </li>
    <li class="info-list-item">
        <div class="info-circle">
            <p class="info-numbers">8,2g</p>
        </div>
        <p class="info-value">Fats</p>
    </li>
    <li class="info-list-item">
        <div class="info-circle">
            <p class="info-numbers">40,4g </p>
        </div>
        <p class="info-value">Carbs</p>
    </li>
 </ul>
 <h1 class="info-ingredients-title">Ingredients</h1>
 <ul class="ingredients-list"> 
    <li class="ingredients-item"> 
        <p class="ingredients-name">Milk</p>
        <p class="ingredients-amount">100ml</p>
    </li>
    <li class="ingredients-item"> 
        <p class="ingredients-name">Belgian chocolate</p>
        <p class="ingredients-amount">20g</p>
    </li>
    <li class="ingredients-item"> 
        <p class="ingredients-name">Cream</p>
        <p class="ingredients-amount">150 ml</p>
    </li>
    <li class="ingredients-item"> 
        <p class="ingredients-name">Cocoa powder</p>
        <p class="ingredients-amount">30g</p>
    </li>
    <li class="ingredients-item"> 
        <p class="ingredients-name">Sugar</p>
        <p class="ingredients-amount">40g</p>
    </li>
    <li class="ingredients-item"> 
        <p class="ingredients-name">Vanilla sugar</p>
        <p class="ingredients-amount">10g</p>
    </li>
 </ul>
 <form class="info-modal-form" action="#" method="get">
    <label for="name"></label>
    <input class="form-name" type="text" name="name" id="name" placeholder="Name">
    <label for="tel"></label>
    <input  class="form-tel" type="tel" name="" id="tel" placeholder="Phone">
    <textarea  class="form-text" name="form-text" id="form-text" placeholder="Comment"></textarea>
 <button class="form-btn btn" type="submit">Submit</button>
  </form>
    </div>
  </div>