<div class="read-more-backdrop is-hidden" data-modal>
  <div class="read-more-modal container">
    <button class="read-more-close-button" type="button" data-modal-close>
      <svg class="close-icon" width="11" height="11">
        <use href="./images/icon.svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="read-more-title">How it’s made?</h1>
    <div class="read-more-wrap">
      <iframe
        src="https://www.youtube.com/embed/ykkjjZYKwQw"
        title="YouTube video player"
        frameborder="0"
        allow="autoplay;"
        allowfullscreen
      ></iframe>
    </div>
    <p class="read-about-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
