.products {
  color: var(--accent-txt-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-label {
  color: var(--accent-txt-cl);
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.products-title {
  font-family: var(--secondary-font);
  color: var(--accent-txt-cl);
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
    font-size: 34px;
    line-height: calc(43 / 34);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 303px;
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}

.products-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 160px;
  flex-basis: calc((100% - 320px) / 3);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
    flex-basis: calc((100% - 32px) / 3);
  }

  @media screen and (min-width: 1200px) {
    gap: 29px;
    flex-basis: calc((100% - 58px) / 3);
  }
}
.products-item {
  display: flex;
  padding-top: 123px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 480px;
  height: 100%;
  height: 420px;
  background-color: #aec6a5;
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    max-width: 224px;
    height: 428px;
    padding-top: 108px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 370px;
    height: 537px;
    padding-top: 165px;
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 60px;
  }

  &:nth-child(2) {
    background-color: #efd478;
  }
  &:nth-child(3) {
    background-color: #d6936d;
  }

  &:before {
    content: '';
    width: 200px;
    height: 211px;
    border-radius: 100px;
    display: block;
    background-image: url(../images/products/ice-cream1-mob.png),
      linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7),
        #d9d9d9
      );
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -108px;

    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream1-mob@2x.png);
    }

    @media screen and (min-width: 768px) {
      width: 200px;
      height: 208px;
      background-image: url(../images/products/ice-cream1-tab.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream1-tab@2x.png);
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/ice-cream1-desk.png);
      width: 302px;
      height: 316px;
      top: -183px;
      border-radius: 50%;

      background-position: cover;
      background-size: 100%;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream1-desk@2x.png);
      }
    }
  }
  &:nth-child(2)::before {
    background-image: url(../images/products/ice-cream2-mob.png);
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream2-mob@2x.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/products/ice-cream2-tab.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream2-tab@2x.png);
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/ice-cream2-desk.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream2-desk@2x.png);
      }
    }
  }
  &:nth-child(3):before {
    background-image: url(../images/products/ice-cream3-mob.png);

    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream3-mob@2x.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/products/ice-cream3-tab.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream3-tab@2x.png);
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/ice-cream3-desk.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream3-desk@2x.png);
      }
    }
  }
}
.products-wrap {
  flex-grow: 1;
}
.products-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(27 / 20);
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-bottom: 66px;
  }
}

.products-description {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(25 / 14);
  text-align: center;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}
.products-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  outline: none;
  border: none;
  background: transparent;
  cursor: url('/src/images/icon.svg/cursor.svg'), auto;

  &:hover,
  &:focus,
  &:active {
    fill: var(--main-txt-cl);
  }
}
